:root {
  --color: #2761c3;
  --color-hover: #27c39f;
}

.btn {
  position: relative;
  width: 10em;
  height: 3em;
  outline: none;
  transition: 0.1s;
  background-color: transparent;
  border: none;
  font-size: 13px;
  font-weight: bold;
  color: #ddebf0;
}

#clip {
  position: absolute;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border: 5px double var(--color);
  box-shadow: inset 0px 0px 15px #195480;
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.arrow {
  position: absolute;
  transition: 0.2s;
  background-color: var(--color);
  top: 35%;
  width: 9%;
  height: 30%;
}

#leftArrow {
  left: -11.5%;
  clip-path: polygon(100% 0, 100% 100%, 0 50%);
}

#rightArrow {
  clip-path: polygon(100% 49%, 0 0, 0 100%);
  left: 100.5%;
}

button:hover #rightArrow {
  background-color: var(--color-hover);
  left: -13%;
  animation: 0.6s ease-in-out both infinite alternate rightArrow8;
}

button:hover #leftArrow {
  background-color: var(--color-hover);
  left: 101.5%;
  animation: 0.6s ease-in-out both infinite alternate leftArrow8;
}

.corner {
  position: absolute;
  width: 3em;
  height: 3em;
  background-color: var(--color);
  box-shadow: inset 1px 1px 8px var(--color);
  transform: scale(1) rotate(45deg);
  transition: 0.2s;
}

#rightTop {
  top: -1.78em;
  left: 86%;
}

#leftTop {
  top: -1.76em;
  left: -2.5em;
}

#leftBottom {
  top: 1.9em;
  left: -1.65em;
}

#rightBottom {
  top: 45%;
  left: 83.5%;
}

button:hover #leftTop {
  animation: 0.1s ease-in-out 0.05s both changeColor8, 0.2s linear 0.4s both lightEffect8;
}

button:hover #rightTop {
  animation: 0.1s ease-in-out 0.15s both changeColor8, 0.2s linear 0.4s both lightEffect8;
}

button:hover #rightBottom {
  animation: 0.1s ease-in-out 0.25s both changeColor8, 0.2s linear 0.4s both lightEffect8;
}

button:hover #leftBottom {
  animation: 0.1s ease-in-out 0.35s both changeColor8, 0.2s linear 0.4s both lightEffect8;
}

button:hover .corner {
  transform: scale(1.25) rotate(45deg);
}

button:hover #clip {
  animation: 0.2s ease-in-out 0.55s both greenLight8;
  --color: var(--color-hover);
}

@keyframes changeColor8 {
  from {
    background-color: var(--color);
  }
  to {
    background-color: var(--color-hover);
  }
}

@keyframes lightEffect8 {
  from {
    box-shadow: 1px 1px 5px var(--color-hover);
  }
  to {
    box-shadow: 0 0 2px var(--color-hover);
  }
}

@keyframes greenLight8 {
  from {
  }
  to {
    box-shadow: inset 0px 0px 32px var(--color-hover);
  }
}

@keyframes leftArrow8 {
  from {
    transform: translate(0px);
  }
  to {
    transform: translateX(10px);
  }
}

@keyframes rightArrow8 {
  from {
    transform: translate(0px);
  }
  to {
    transform: translateX(-10px);
  }
}
