.account-purchase {
  position: relative;
}
.vuesaxbulkshopping-cart-icon {
  position: relative;
  width: 28px;
  height: 28px;
}
.account-purchase-parent,
.vuesaxbulkshopping-cart {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.account-purchase-parent {
  border-radius: 14px;
  background: linear-gradient(93.58deg, #363e52, #2b3242);
  box-shadow: 9px 10px 19px rgba(61, 73, 100, 0.3) inset;
  padding: 20px 18px;
  align-items: center;
  gap: 20px;
  text-align: left;
  font-size: 16px;
  color: var(--button);
  font-family: var(--font-inter);
}
