
.dashboard-container {
  background-color: #9bb6f1;  /* Background color */
  padding: 20px;
  border-radius: 8px;
}

.chart-container {
  margin: 20px;
  padding: 20px;
  background-color: #ffefef;  /* Background color for each chart container */
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

/* Responsiveness for smaller screens */
@media (max-width: 768px) {
  .chart-container {
    margin: 10px;
    padding: 10px;
  }
}
